<label for="first-name">First Name</label><input name="first-name" id="first-name" class="user-name-input" /><br/>
<label for="last-name">Last Name</label><input name="last-name" id="last-name" class="user-name-input" /><br/>
<label for="address">Address</label><input name="address" id="user-address" class="user-address-input" /><br/>
<label for="phonenumber">Phonenumber</label><input name="phonenumber" id="user-phone" class="user-phone-input" /><br/>
<input type="submit" value="submit" class="submit-button"/>
